*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    font-family: "Roboto", sans-serif;
}
/* Navigation */

.nav-container{
    border: 1px solid #000000;
    

}
.wrapper{
    width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav>ul{
    display: flex;
}

nav.logo{
    position: absolute;
    width: 90px;
    height: 57px;
    left: 10px;
    top: 10px;   
    
}

.nav-items>li{
    list-style: none;
    margin-right: 50px;
}

.nav-items li a{
    color: #991B8C
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}
h1{
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: whitesmoke;
}

header p {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    width: 198px;
    margin-bottom: 48px;
}
header a{
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #232961;

    background: #1D5B6F;
    border-radius: 10px;
    padding: 12px 48px;
    display: inline-block;
    transition: 300ms;
}
header a:hover{
    transform: translateY(-8px);
}

/* social */
.social{
    display: flex;
    align-items: center;
    margin: 0 24px;
}
header. hero-image{
    position: relative;
}
header.hero-image img{
    transition: 300ms;
}

header .hero-image img:hover{
    transform: rotate(-6deg);
}

/* Header */

.header-container{
    background: #000000;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: calc(100vh - 72px);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
